<app-not-found *ngIf="email === null; else page"></app-not-found>

<ng-template #loading>
  <div class="progress-bar">
    <div class="progress-bar-value"></div>
  </div>
</ng-template>
<ng-template #page>
  <ng-container *ngIf="email !== undefined; else loading">
    <div class="auth-wrapper">
      <div class="auth-content">
        <div class="auth-bg">
          <span class="r"></span>
          <span class="r s"></span>
          <span class="r s"></span>
          <span class="r"></span>
        </div>
        <form class="card" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
          <div class="card-body text-center">
            <div class="mb-4">
              <i class="feather icon-lock auth-icon"></i>
            </div>
            <h3 class="mb-4">Reset Password</h3>
            <div class="alert alert-info" role="alert">Welcome back, {{ email }}!</div>

            <div class="input-group mb-3">
              <input type="password" class="form-control" placeholder="New Password" formControlName="newPassword" />
            </div>
            <div class="input-group mb-3">
              <input type="password" class="form-control" placeholder="Confirm New Password" formControlName="confirmNewPassword" />
            </div>
            <button class="btn btn-primary mb-4" [disabled]="!formGroup.valid || isSubmitting">
              {{ isSubmitting ? 'Saving...' : 'Save new password' }}
            </button>
            <div
              *ngIf="message"
              [ngClass]="{ 'alert-danger': message.type === 'F', 'alert-success': message.type === 'S' }"
              class="alert"
              role="alert"
            >
              {{ message.value }}
            </div>
            <p class="mb-2 text-muted">
              Remembered your password?
              <a [routerLink]="['/auth/signin']">Signin</a>
            </p>
            <p class="mb-0 text-muted">
              Don’t have an account?
              <a [routerLink]="['/auth/signup']">Sign up</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </ng-container>
</ng-template>
